div.body {
    margin-top: 24px;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%); 
        opacity: 0;
    }
    100% {
      transform: translateX(0); 
        opacity: 1;
    }
}

div.body .home,
div.body .shows,
div.body .djs,
div.body .schedule,
div.body .contact {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}