.navbar > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.navbar > nav > a {
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
    flex-grow: 1;
    transition: background-color 1s, font-size 1s;
}
.navbar > nav > a.active {
    background-color: rgb(10, 95, 10);
}
.navbar > nav > a:hover {
    font-size: 35px;
}