div.body .shows {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
div.body .shows > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
div.body .shows h2 {
    text-align: center;
    font-size: 30px;
}
div.body .shows h3 {
    margin-left: 5%;
    padding-left: 15px;
    font-size: 24px;
    border-left: 2px solid rgb(4, 174, 253);
}
div.body .shows p {
    font-size: 20px;
}